<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world! </p>
        <!-- <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campgrounds</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col my-2">
            <div class="card" style="width: auto;">
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"> <%= campground.name%></h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                </div>
            </div>

        </div>
        <% }) %>
    </div>

</div>



<%- include('../partials/footer') %>